@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap");
html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.25rem;
}
html::-webkit-scrollbar-track {
  background: #1e1e24;
}
html::-webkit-scrollbar-thumb {
  background: linear-gradient(#743ad5 0%, #d53a9d 100%);
}

* {
  outline: none;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  padding: 2em;
  color: #dcddde;
  font-family: "Poppins", sans-serif;
  background-color: #0e0e0e;
}

@media (max-width: 480px) {
  body {
    padding: 0.5em;
  }
}
.sidebar {
  flex-basis: 284px;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-shrink: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 50px;
  position: fixed;
}

.sidebar-menu {
  display: inline-flex;
  flex-direction: column;
  padding-top: 52px;
}

.sidebar-menu__link {
  background-color: #7c7c7c;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

.sidebar-menu__link + .sidebar-menu__link {
  margin-top: 12px;
}

.sidebar-menu__link:hover,
.sidebar-menu__link.active {
  background-image: linear-gradient(to right, #743ad5, #d53a9d);
}

.user {
  display: flex;
  flex-direction: column;
  padding-bottom: 52px;
  border-bottom: 1px solid #252424;
}

.user-photo {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  flex-shrink: 0;
  margin-bottom: 20px;
}

.user-mail {
  margin-top: 6px;
  color: #7c7c7c;
  font-size: 14px;
}

main {
  margin-left: 300px;
  width: 100%;
  display: grid;
  place-items: center;
}
main section {
  border-top: 3px solid;
  -o-border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
     border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
  border-image-slice: 1;
  border-width: 3px;
  padding: 40px;
  position: relative;
  color: #dcddde;
  width: 90%;
}
main section:before {
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 1.25em;
  width: 1.25em;
  background-color: black;
  text-align: center;
  color: #dcddde;
  font: var(--fa-font-solid);
  font-size: larger;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  display: grid;
  place-items: center;
  top: calc(40px + 0.625em);
}
main section:nth-child(odd) {
  border-right: 3px solid;
}
main section:nth-child(odd):before {
  left: 100%;
  margin-left: -20px;
}
main section:nth-child(even) {
  border-left: 3px solid;
}
main section:nth-child(even):before {
  right: 100%;
  margin-right: -20px;
}
main section:first-child {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
main section:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
main section:nth-child(1)::before {
  content: "\f015";
}
main section:nth-child(2)::before {
  content: "\f47f";
}
main section:nth-child(3)::before {
  content: "\f058";
}
main section:nth-child(4)::before {
  content: "\f501";
}
main section:nth-child(5)::before {
  content: "\f0b1";
}
main section:nth-child(6)::before {
  content: "\f0ad";
}
main section:nth-child(7)::before {
  content: "\f2bb";
}
main section:nth-of-type(odd) h1:first-of-type {
  text-align: right;
}

#slider {
  width: 600px;
  font-size: 30px;
}
#slider span {
  display: flex;
  gap: 15px;
}
#slider p {
  margin: 0;
}

#sliderValue {
  display: flex;
  font-weight: 700;
}

.start {
  opacity: 0;
}

.animation {
  animation: fade 0.3s forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.holder-animation {
  animation: holder 4s;
}

@keyframes holder {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#section1 a {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 65px;
  width: 170px;
  background: #252424;
  border-radius: 10px;
  cursor: pointer;
  color: #dcddde;
  text-decoration: none;
}
#section1 a::before {
  position: absolute;
  content: "";
  height: 75px;
  width: 180px;
  background: #7c7c7c;
  border-radius: 13px;
  z-index: -1;
  transition: 0.3s;
}
#section1 a:hover::before {
  background: tomato;
  animation: animate-hover 2s linear infinite;
}
@keyframes animate-hover {
  50% {
    filter: hue-rotate(350deg);
  }
}

#section2 p {
  max-width: 550px;
  margin: 0 auto;
}

#skills-flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  justify-self: center;
  gap: 10px;
}
#skills-flex div img,
#skills-flex div #alt {
  width: 100px;
  aspect-ratio: 1;
}
#skills-flex #alt {
  font-size: 4rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
#skills-flex #alt span {
  color: #3d72d7;
}
#skills-flex div p {
  text-align: center;
}

#skills-flex div:nth-child(1) p {
  color: #f36428;
}

#skills-flex div:nth-child(2) p {
  color: #2b62ea;
}

#skills-flex div:nth-child(3) p {
  color: #d0639d;
}

#skills-flex div:nth-child(4) p {
  color: #f0dc4e;
}

#skills-flex div:nth-child(5) p {
  color: #017acb;
}

#skills-flex div:nth-child(6) p {
  color: #529f41;
}

#skills-flex div:nth-child(7) p {
  color: #f60947;
}

#skills-flex div:nth-child(8) p {
  color: #92a9ed;
}

#skills-flex div:nth-child(9) p {
  color: #4479a1;
}

#skills-flex div:nth-child(10) p {
  color: #ff2d20;
}

#skills-flex div:nth-child(11) p {
  color: #3d72d7;
}

#skills-flex div:nth-child(12) p {
  color: #de4c36;
}

#section4 ul li i:before,
#section4 ul li i:after,
#section4 p {
  transition: all 0.25s ease-in-out;
}
#section4 h4 {
  font-size: larger;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 1px;
  display: block;
  margin: 0;
  cursor: pointer;
}
#section4 h4 span {
  color: #7c7c7c;
}
#section4 ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 60%;
}
#section4 ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  animation: flipdown 0.5s ease both;
}
#section4 ul li:last-of-type {
  padding-bottom: 0;
  border-top: 1px solid #252424;
}
#section4 ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
#section4 ul li input[type=checkbox]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
#section4 ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
#section4 ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}
#section4 ul li p {
  color: #7c7c7c;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
  width: 100%;
}
#section4 ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}
#section4 ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
#section4 ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
#section4 ul li i:before,
#section4 ul li i:after {
  content: "";
  position: absolute;
  background-color: #dcddde;
  width: 3px;
  height: 9px;
}
@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

#section5 h4 {
  font-size: larger;
  line-height: 34px;
  letter-spacing: 1px;
  margin: 0;
  font-weight: 400;
}
#section5 h4 span {
  color: #0a7af8;
}
#section5 li {
  margin-block: 10px;
}
#section5 li img {
  height: 20px;
  width: 20px;
  vertical-align: text-bottom;
}
#section5 div ul ul li span {
  color: #7c7c7c;
}
#section5 div {
  display: grid;
  grid-template-columns: auto 400px;
  justify-items: start;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  gap: 20px;
}
#section5 #diploma {
  width: 300px;
}
@media only screen and (max-width: 1000px) {
  #section5 div {
    grid-template-columns: 1fr;
  }
  #section5 div img {
    justify-self: center;
  }
}
@media only screen and (max-width: 700px) {
  #section5 #diploma {
    width: 100%;
  }
}

#section6 p {
  float: right;
}
#section6 #cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
  justify-content: center;
}
#section6 #cards:hover > .card::after {
  opacity: 1;
}
#section6 .card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  min-height: 280px;
  flex-direction: column;
  position: relative;
  width: 300px;
}
#section6 .card:hover::before {
  opacity: 1;
}
#section6 .card::before, #section6 .card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}
#section6 .card::before {
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.06), transparent 40%);
  z-index: 3;
}
#section6 .card::after {
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.4), transparent 40%);
  z-index: 1;
}
#section6 .card .card-content {
  background-color: rgb(23, 23, 23);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}
#section6 .card .card-content img.project-img {
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
}
#section6 .card .card-content h3 {
  font-family: "Poppins", sans-serif;
  color: rgb(240, 240, 240);
  font-weight: 200;
  font-size: x-large;
  margin-block: 0.5em;
}
#section6 .card .card-content ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 5px;
  margin: 0;
}
#section6 .card .card-content ul li img {
  aspect-ratio: 1;
  height: 30px;
}
@media (max-width: 1200px) {
  #section6 #cards {
    max-width: 1000px;
    padding: 10px 0px;
  }
  #section6 .card {
    flex-shrink: 1;
    max-width: 70%;
    margin: 0 auto;
  }
  #section6 .project-img {
    height: 50%;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  #section6 .card {
    height: 180px;
  }
  #section6 .card > h3 {
    font-size: 0.9em;
  }
}
@media (max-width: 320px) {
  #section6 .card {
    width: 100%;
  }
}

.social-btns {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.social-btns > *:nth-child(odd) {
  justify-self: end;
}
.social-btns > *:nth-child(even) {
  justify-self: start;
}
.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa-brands {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fa-brands {
  transform: scale(0.8);
}
.social-btns .btn.facebook:before {
  background-color: #3b5998;
}
.social-btns .btn.facebook .fa-brands {
  color: #3b5998;
}
.social-btns .btn.linkedin:before {
  background-color: #0077b5;
}
.social-btns .btn.linkedin .fa-brands {
  color: #0077b5;
}
.social-btns .btn.codepen:before {
  background-color: #000;
}
.social-btns .btn.codepen .fa-brands {
  color: #000;
}
.social-btns .btn.instagram:before {
  background-color: #f26798;
}
.social-btns .btn.instagram .fa-brands {
  color: #f26798;
}
.social-btns .btn.github:before {
  background-color: #1f1f1f;
}
.social-btns .btn.github .fa-brands {
  color: #1f1f1f;
}
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fa-brands,
.social-btns .btn:hover .fa-brands {
  color: #fff;
  transform: scale(1);
}
.social-btns .btn {
  display: block;
  background-color: #fff;
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: 10px 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.182);
}
.social-btns .btn:before {
  content: "";
  width: 120%;
  height: 120%;
  position: absolute;
  transform: rotate(45deg);
}
.social-btns .btn .fa-brands {
  font-size: 38px;
  vertical-align: middle;
}

@media (max-width: 980px) {
  .sidebar {
    display: none;
  }
  main {
    margin-left: 0;
  }
}/*# sourceMappingURL=style.css.map */