@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.25rem;
}
html::-webkit-scrollbar-track {
  background: #1e1e24;
}
html::-webkit-scrollbar-thumb {
  background: #368aa9;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  scroll-behavior: smooth;
}
body section {
  margin-left: 280px;
  padding: 20px;
}

.section {
  scroll-margin-top: 20vh;
}

.flex {
  display: flex;
}

h2 {
  letter-spacing: 3px;
  color: rgba(0, 0, 0, 0.4392156863);
  font-weight: 900;
}

nav {
  position: fixed;
  left: 0;
  height: 100vh;
  width: 280px;
  background-color: #f2f3f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}
nav h3 {
  color: rgba(0, 0, 0, 0.4392156863);
}
nav img {
  width: 100%;
  aspect-ratio: 1;
  margin-block: 20px;
  border-radius: 50%;
}
nav .menu-link {
  text-decoration: none;
  margin-block: 6px;
  color: #1e1e1e;
  font-weight: 600;
}
nav .menu-link:hover {
  color: #368aa9;
}
nav .menu-link.active {
  text-decoration: underline;
  color: #368aa9;
}

#section1 {
  height: 100vh;
  background-image: url("utilities/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  color: rgba(242, 243, 247, 0.6666666667);
}
#section1 .slider {
  display: none;
  animation: animare 3s linear;
  color: #368aa9;
  text-shadow: #fff 0px 0px 1px;
}
@keyframes animare {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#section1 .wrap {
  font-family: "Poppins", sans-serif;
}
#section1 .wrap h1 {
  margin: 20px;
  margin-right: 0;
}
#section1 a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: larger;
  border: 2px rgba(242, 243, 247, 0.6666666667) solid;
  border-radius: 4px;
  padding: 12px 8px;
  cursor: pointer;
  margin: 20px;
  margin-right: 0;
  color: inherit;
}
#section1 a:hover {
  color: #368aa9;
  border: #368aa9 2px solid;
}

#section2, #section4 {
  display: grid;
}
#section2 p, #section4 p {
  justify-self: center;
  width: 60%;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
}

#section3 {
  display: grid;
}
#section3 #skills-flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 60%;
  justify-self: center;
}
#section3 #skills-flex div {
  margin: 10px;
}
#section3 #skills-flex div img {
  width: 100px;
  aspect-ratio: 1;
}
#section3 #skills-flex div p {
  text-align: center;
}

#section4 ul li i:before, #section4 ul li i:after, #section4 p {
  transition: all 0.25s ease-in-out;
}
#section4 h4 {
  font-size: large;
  line-height: 34px;
  letter-spacing: 1px;
  display: block;
  background-color: #fefffa;
  margin: 0;
  cursor: pointer;
}
#section4 h4 span {
  color: #368aa9;
}
#section4 ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 60%;
}
#section4 ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  border-top: 1px solid #dce7eb;
  animation: flipdown 0.5s ease both;
}
#section4 ul li:last-of-type {
  padding-bottom: 0;
}
#section4 ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
#section4 ul li input[type=checkbox]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
#section4 ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
#section4 ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}
#section4 ul li p {
  color: rgba(48, 69, 92, 0.8);
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
  width: 100%;
}
#section4 ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}
#section4 ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
#section4 ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
#section4 ul li i:before, #section4 ul li i:after {
  content: "";
  position: absolute;
  background-color: #368aa9;
  width: 3px;
  height: 9px;
}
@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

#section5 h4 {
  font-size: larger;
  line-height: 34px;
  letter-spacing: 1px;
  background-color: #fefffa;
  margin: 0;
}
#section5 h4 span {
  color: #0a7af8;
}
#section5 li {
  margin-block: 10px;
}
#section5 li img {
  height: 20px;
  width: 20px;
  vertical-align: text-bottom;
}
#section5 div ul ul li span {
  color: gray;
}
#section5 div {
  display: grid;
  grid-template-columns: auto 400px;
  justify-items: start;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  gap: 20px;
}

#diploma {
  width: 400px;
}

#section6 .work {
  display: flex;
  justify-content: space-between;
}
#section6 .screen {
  width: 60%;
  border-radius: 0.5em;
  margin-block: 0.5em;
}
#section6 .description {
  margin-left: 3em;
  margin-block: 2em;
  display: flex;
  flex-direction: column;
}
#section6 .description p {
  margin-right: 1em;
}
#section6 .flex {
  flex-wrap: wrap;
  gap: 5px;
}
#section6 .flex img {
  width: 50px;
  aspect-ratio: 1;
  margin-inline: 5px;
}
#section6 .vertical-bar {
  width: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 1em;
}
#section6 #last-bar {
  background: transparent;
}
#section6 i {
  aspect-ratio: 1;
  background-color: white;
  color: #dce7eb;
  padding: 0.5em;
  position: relative;
  color: #3b5998;
  border: currentColor 3px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
#section6 i::after {
  content: attr(data-type);
  position: absolute;
  padding-left: 3em;
  letter-spacing: 2px;
  color: #1f1f1f;
  font-weight: 400;
}
#section6 a {
  text-decoration: none;
  line-height: 80px;
}
#section6 .link {
  margin-top: auto;
  color: #03349c;
  text-align: center;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 80px;
  max-width: 250px;
  text-transform: uppercase;
  border: 1px solid currentColor;
  box-sizing: border-box;
  transition: 300ms ease-in-out;
}
#section6 .link span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #3b5998;
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%);
  z-index: -1;
}
#section6 .link:hover {
  color: #cfc2d8;
}
#section6 .link:hover span {
  width: 225%;
  height: 562.5px;
}
#section6 .link:active {
  background-color: #13303b;
}

#section7 .social-btns {
  margin: auto;
  font-size: 0;
  text-align: center;
}
#section7 .social-btns .btn, #section7 .social-btns .btn:before, #section7 .social-btns .btn .fa-brands {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
#section7 .social-btns .btn:before {
  top: 90%;
  left: -110%;
}
#section7 .social-btns .btn .fa-brands {
  transform: scale(0.8);
}
#section7 .social-btns .btn.facebook:before {
  background-color: #3b5998;
}
#section7 .social-btns .btn.facebook .fa-brands {
  color: #3b5998;
}
#section7 .social-btns .btn.linkedin:before {
  background-color: #0077b5;
}
#section7 .social-btns .btn.linkedin .fa-brands {
  color: #0077b5;
}
#section7 .social-btns .btn.codepen:before {
  background-color: #000;
}
#section7 .social-btns .btn.codepen .fa-brands {
  color: #000;
}
#section7 .social-btns .btn.instagram:before {
  background-color: #f26798;
}
#section7 .social-btns .btn.instagram .fa-brands {
  color: #f26798;
}
#section7 .social-btns .btn.github:before {
  background-color: #1f1f1f;
}
#section7 .social-btns .btn.github .fa-brands {
  color: #1f1f1f;
}
#section7 .social-btns .btn:focus:before, #section7 .social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
#section7 .social-btns .btn:focus .fa-brands, #section7 .social-btns .btn:hover .fa-brands {
  color: #fff;
  transform: scale(1);
}
#section7 .social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: 10px 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.182);
  opacity: 0.99;
}
#section7 .social-btns .btn:before {
  content: "";
  width: 120%;
  height: 120%;
  position: absolute;
  transform: rotate(45deg);
}
#section7 .social-btns .btn .fa-brands {
  font-size: 38px;
  vertical-align: middle;
}

footer {
  width: calc(100vw - 284px);
  margin-left: 280px;
  background-image: url("utilities/background.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 50px;
  display: grid;
  place-items: center;
}

@media only screen and (max-width: 1400px) {
  .work {
    flex-direction: column;
  }
  .link {
    margin-top: 1em !important;
  }
  .description p {
    margin-right: 0;
  }
  .screen {
    width: 100% !important;
    margin-bottom: 3em !important;
  }
}
@media only screen and (max-width: 1000px) {
  nav {
    display: none;
  }
  section, footer {
    margin-left: 0 !important;
    padding: 0 !important;
  }
  section h2, footer h2 {
    margin-left: 5px;
  }
  footer {
    width: 100%;
  }
  #skills-flex {
    width: auto !important;
  }
  #section5 div {
    grid-template-columns: 1fr;
  }
  #section5 div img {
    justify-self: center;
  }
}
@media only screen and (max-width: 700px) {
  p {
    font-size: smaller;
  }
  .description {
    margin-left: 15px !important;
  }
  #diploma {
    width: 100%;
  }
  .vertical-bar {
    margin-left: 25px !important;
  }
}/*# sourceMappingURL=style.css.map */