@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

html{
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 0.25rem;
  }

  &::-webkit-scrollbar-track {
    background: #1e1e24;
  }

  &::-webkit-scrollbar-thumb {
    background: #368aa9;
  }
}
*{
  box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    section{
        margin-left: 280px;
        padding: 20px;
    }
}

.flex {
  display: flex;
}

h2 {
  letter-spacing: 3px;
  color: #00000070;
  font-weight: 900;
}

nav{
    position: fixed;
    left: 0;
    height: 100vh;
    width: 280px;
    background-color: #f2f3f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    h3{ 
      color: #00000070;
    }
    img{
        width: 100%;
        aspect-ratio: 1;
        margin-block: 20px;
        border-radius: 50%;
    }
    .menu-link {
        text-decoration: none;
        margin-block: 6px;
        color: #1e1e1e;
        font-weight: 600;
        &:hover{
            color: #368aa9;
        }
    }
    .menu-link.active {
        text-decoration: underline;
        color: #368aa9;
    }
}


#section1 {
  height: 100vh;
  background-image: url("utilities/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  color: #f2f3f7aa;
  .slider {
    display: none; 
    animation: animare 3s linear;
    color: #368aa9;
    text-shadow: #fff 0px 0px 1px;
  }
  @keyframes animare {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
  }
  .wrap {
    font-family: 'Poppins', sans-serif;  
    h1 {
      margin: 20px;
      margin-right: 0;
    }
  }
  a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: larger;
    border: 2px #f2f3f7aa solid;
    border-radius: 4px;
    padding: 12px 8px;
    cursor: pointer;
    margin: 20px;
    margin-right: 0;
    color: inherit;
    &:hover {
      color: #368aa9;
      border: #368aa9 2px solid;
    }
  }
}


#section2, #section4{
  display: grid;
  p{
    justify-self: center;
    width: 60%;
    text-align: justify;
  }
}

#section3 {
  display: grid;
  table {
    justify-self: center;
    text-align: center;
    width: 70%;
    border-collapse: collapse;
    td {
      img {
        width: 50px;
        aspect-ratio: 1;
      }
      &:nth-child(3) {
        width: 60%;
      }
    }

    .bar {
      display: flex;
      align-items: center;
      height: 10px;
      background-color: #00000020;
      border-radius: 5px;

      .color-bar {
        height: 10px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        width: var(--i);
        animation: move 3s 1 ease;
      }

      .circle {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        margin-left: -5px;
      }

      // @keyframes move {
      //   0% { width: 0;}
      //   100% { width: var(--i);}
      // }
    }
  }
}

#section4{
  ul li i:before, ul li i:after, p {
    transition: all 0.25s ease-in-out;
  }
  h2 {
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 1px;
    display: block;
    background-color: #fefffa;
    margin: 0;
    cursor: pointer;
    span{ color: #368aa9; }
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 60%;

    li {
      position: relative;
      padding: 0;
      margin: 0;
      padding-bottom: 4px;
      padding-top: 18px;
      border-top: 1px dotted #dce7eb;
      animation: flipdown 0.5s ease both;

      &:last-of-type {
        padding-bottom: 0;
      }
        
      input[type=checkbox] {
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
      }

      input[type=checkbox]:checked ~ p {
        margin-top: 0;
        max-height: 0;
        opacity: 0;
        transform: translate(0, 50%);
      }

      input[type=checkbox]:checked ~ i:before {
        transform: translate(2px, 0) rotate(45deg);
      }

      input[type=checkbox]:checked ~ i:after {
        transform: translate(-2px, 0) rotate(-45deg);
      }

      p {
        color: rgba(48, 69, 92, 0.8);
        font-size: 17px;
        line-height: 26px;
        letter-spacing: 1px;
        position: relative;
        overflow: hidden;
        max-height: 800px;
        opacity: 1;
        transform: translate(0, 0);
        margin-top: 14px;
        z-index: 2;
        width: 100%;
      }

      i {
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 16px;
        right: 0;

        &:after {
          transform: translate(2px, 0) rotate(-45deg);
        }

        &:before {
          transform: translate(-2px, 0) rotate(45deg);
        }
      }
    }
  }
  ul li i:before, ul li i:after {
    content: "";
    position: absolute;
    background-color: #368aa9;
    width: 3px;
    height: 9px;
  }
  
  @keyframes flipdown {
    0% {
      opacity: 0;
      transform-origin: top center;
      transform: rotateX(-90deg);
    }
    5% {
      opacity: 1;
    }
    80% {
      transform: rotateX(8deg);
    }
    83% {
      transform: rotateX(6deg);
    }
    92% {
      transform: rotateX(-3deg);
    }
    100% {
      transform-origin: top center;
      transform: rotateX(0deg);
    }
  }
}

#section5{
  .work{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
    .wrap {
      width: 100%;
      aspect-ratio: 16/9;
      padding: 0;
      overflow: hidden;
      iframe{
        width: 200%;
        height: 200%;
        border: 0;
        transform: scale(0.5);
        transform-origin: center;
      }
    }
    div{
      display: grid;
      place-items: center;
      p { 
        text-align: center;
        margin-inline: 30px;
      }
      div {
        display: inline-flex;
        img{
          width: 50px;
          aspect-ratio: 1;
          margin: 10px;
        }
      }
    }
  }
}

#section6{
  .social-btns{
    margin: auto;
    font-size: 0;
    text-align: center;
    .btn, .btn:before, .btn .fa-brands {
      transition: all 0.35s;
      transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
    }
    .btn:before {
       top: 90%;
       left: -110%;
     }
    .btn .fa-brands {
       transform: scale(0.8);
    }
    .btn.facebook:before {
       background-color: #3b5998;
     }
     .btn.facebook .fa-brands {
       color: #3b5998;
     }
     .btn.linkedin:before {
       background-color: #0077b5;
     }
     .btn.linkedin .fa-brands {
       color: #0077b5;
     }
     .btn.discord:before {
       background-color: #7289da;
     }
     .btn.discord .fa-brands {
       color: #7289da;
     }
     .btn.instagram:before {
       background-color: #f26798;
     }
     .btn.instagram .fa-brands {
       color: #f26798;
     }
     .btn.github:before {
       background-color: #1f1f1f;
     }
     .btn.github .fa-brands {
       color: #1f1f1f;
     }
     .btn:focus:before,.btn:hover:before {
       top: -10%;
       left: -10%;
     }
     .btn:focus .fa-brands,.btn:hover .fa-brands {
       color: #fff;
       transform: scale(1);
     }
     .btn {
       display: inline-block;
       background-color: #fff;
       width: 90px;
       height: 90px;
       line-height: 90px;
       margin: 10px 10px;
       text-align: center;
       position: relative;
       overflow: hidden;
       border-radius: 28%;
       box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.182);
       opacity: 0.99;
     }
     .btn:before {
       content: '';
       width: 120%;
       height: 120%;
       position: absolute;
       transform: rotate(45deg);
     }
     .btn .fa-brands {
       font-size: 38px;
       vertical-align: middle;
     }
  }
}

footer {
  width: calc(100vw - 284px);
  margin-left: 280px;
  background-image: url("utilities/background.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 50px;
  display: grid;
  place-items: center;
}

@media only screen and (max-width: 1400px) {
  .work {
    flex-direction: column !important;
  }
}

@media only screen and (max-width: 1000px) {
  nav { display: none; }
  section, footer {
    margin-left: 0 !important;
    padding: 0 !important;
    h2 { margin-left: 5px; }
  }
  footer { width: 100%; }
}

@media only screen and (max-width: 700px) {
  p { font-size: smaller; }
  td:nth-child(2n) { display: none; }
  #section3 { display: block; }
  .bar { width: 150%; }
}