body{
    margin: 0;
    box-sizing: border-box;
    background-color: #8beeff;
    display: grid;
    place-items: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
}

.ceas{
    width: 450px;
    height: 450px;
    position: relative;
    background-color: rgb(205, 248, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: #002136 15px solid;
}
.ceas::before{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #3d3d3d;
    border-radius: 50%;
}

span {
    position: absolute;
    inset: 20px;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
}

.ac{
    position: absolute;
    width: 12px;
    transform-origin: bottom;
    border-radius: 50%;
}
.mare{
    animation: spin 4s linear infinite;
    height: 175px;
    background-color: rgba(0, 119, 133, 0.618);
    margin-top: -173px;
}
.mic{
    margin-top: -123px;
    animation: spin 48s linear infinite;
    height: 125px;
    background-color: rgba(0, 176, 189, 0.389);
}

@keyframes spin {
    100% {rotate: 360deg;}
}